#Gonzaga {
    background-image: url("assets/zags.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 130px 130px; 
}

#Northwestern {
    background-image: url("assets/northwestern.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#NoKentucky {
    background-image: url("assets/nkentucky.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Drake {
    background-image: url("assets/drake.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#GCU {
    background-image: url("assets/gcu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#FDU {
    background-image: url("assets/fdu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#GeorgiaSt {
    background-image: url("assets/georgiast.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Pitt {
    background-image: url("assets/pitt.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#OralRoberts {
    background-image: url("assets/oralroberts.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#SetonHall {
    background-image: url("assets/seton.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Richmond {
    background-image: url("assets/richmond.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Delaware {
    background-image: url("assets/delaware.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Chattanooga {
    background-image: url("assets/chat.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Yale {
    background-image: url("assets/yale.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Davidson {
    background-image: url("assets/davidson.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#NotreDame {
    background-image: url("assets/nd.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#StPeters {
    background-image: url("assets/stpete.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Miami {
    background-image: url("assets/miami.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Kentucky {
    background-image: url("assets/uk.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#KentSt {
    background-image: url("assets/kentst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#NCState {
    background-image: url("assets/ncstate.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Indiana {
    background-image: url("assets/ind.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Iona {
    background-image: url("assets/iona.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#SanFrancisco {
    background-image: url("assets/sanfrancisco.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#MurraySt {
    background-image: url("assets/murrayst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Akron {
    background-image: url("assets/akron.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#StMarys {
    background-image: url("assets/stmarys.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#VCU {
    background-image: url("assets/vcu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Vermont {
    background-image: url("assets/vermont.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Marquette {
    background-image: url("assets/marq.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Louisianna {
    background-image: url("assets/louisianna.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#UNCAsheville {
    background-image: url("assets/uncasheville.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Xavier {
    background-image: url("assets/xavier.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#KennesawSt {
    background-image: url("assets/kennesaw.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#UCSB {
    background-image: url("assets/ucsb.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#NewMexicoSt {
    background-image: url("assets/nmst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#ASU {
    background-image: url("assets/asu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#ColoradoSt {
    background-image: url("assets/colost.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Providence {
    background-image: url("assets/prov.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Longwood {
    background-image: url("assets/longwood.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#FAU {
    background-image: url("assets/fau.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#KansasSt {
    background-image: url("assets/kansasst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Memphis {
    background-image: url("assets/memphis.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#CSUFullerton {
    background-image: url("assets/csuf.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Illinois {
    background-image: url("assets/illinois.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#BoiseSt {
    background-image: url("assets/boisest.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#JacksonvilleSt {
    background-image: url("assets/jackst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Auburn {
    background-image: url("assets/auburn.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#MontanaSt {
    background-image: url("assets/montst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#SouthDakotaSt {
    background-image: url("assets/sodakotast.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#UtahSt {
    background-image: url("assets/utahstate.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Howard {
    background-image: url("assets/howard.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Missouri {
    background-image: url("assets/missouri.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#TexasAM {
    background-image: url("assets/tam.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#PennSt {
    background-image: url("assets/pennst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#TexasAMCC {
    background-image: url("assets/texasamcc.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#MichiganSt {
    background-image: url("assets/michst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Michigan {
    background-image: url("assets/mich.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Arkansas {
    background-image: url("assets/arkansas.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;  
    background-position-y: center;  
}

#TCU {
    background-image: url("assets/tcu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Iowa {
    background-image: url("assets/iowa.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Tennessee {
    background-image: url("assets/tenn.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;   
    background-position-y: center; 
}

#TexasSouthern {
    background-image: url("assets/txso.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;  
    background-position-y: center; 
}

#Baylor {
    background-image: url("assets/baylor.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#LoyolaChicago {
    background-image: url("assets/loyola.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#LSU {
    background-image: url("assets/lsu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#OhioSt {
    background-image: url("assets/ohst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;   
    background-position-y: center;
}

#NorthCarolina {
    background-image: url("assets/unc.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Duke {
    background-image: url("assets/duke.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Houston {
    background-image: url("assets/houston.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#IowaSt {
    background-image: url("assets/isu.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Purdue {
    background-image: url("assets/purdue.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#USC {
    background-image: url("assets/usc.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;   
    background-position-y: center; 
}

#Texas {
    background-image: url("assets/texas.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;  
    background-position-y: center;  
}

#Villanova {
    background-image: url("assets/nova.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Arizona {
    background-image: url("assets/arizona.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Princeton {
    background-image: url("assets/princeton.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#UAB {
    background-image: url("assets/uab.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#VirginiaTech {
    background-image: url("assets/vt.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;   
    background-position-y: center; 
}

#WrightSt {
    background-image: url("assets/wrst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;
}

#Colgate {
    background-image: url("assets/colgate.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#UCLA {
    background-image: url("assets/ucla.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;  
    background-position-y: center;  
}

#Wisconsin {
    background-image: url("assets/wisc.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center; 
    background-position-y: center;   
}

#SDSU {
    background-image: url("assets/sdst.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;  
    background-position-y: center;  
}

#TexasTech {
    background-image: url("assets/texastech.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center; 
    background-position-y: center;  
}

#Charleston {
    background-image: url("assets/charleston.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center; 
    background-position-y: center;  
}

#NorfolkSt {
    background-image: url("assets/norfolk.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;   
    background-position-y: center; 
}

#Creighton {
    background-image: url("assets/creighton.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Alabama {
    background-image: url("assets/bama.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;  
    background-position-y: center;  
}

#Kansas {
    background-image: url("assets/kansas.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;    
}

#Connecticut {
    background-image: url("assets/uconn.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;
    background-position-y: center;    
}

#Rutgers {
    background-image: url("assets/rutgers.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Maryland {
    background-image: url("assets/maryland.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#WestVirginia {
    background-image: url("assets/westvirginia.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Virginia {
    background-image: url("assets/virginia.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}

#Furman {
    background-image: url("assets/furman.png");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position-x: center;    
    background-position-y: center;
}